<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="dbconinfo1" class="com.ezen.student.dto.DataBaseConnectionInfo">
		<property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="userId" value="scott"/>
		<property name="userPw" value="tiger"/>
	</bean>
	
	<bean id="dbconinfo2" class="com.ezen.student.dto.DataBaseConnectionInfo">
		<property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="userId" value="system"/>
		<property name="userPw" value="adminuser"/>
	</bean>
	
	<bean class="com.ezen.student.dao.StudentDao" id="studentdao">
		<constructor-arg ref="dbconinfo1"></constructor-arg>
	</bean>
	
	<bean id="selectAllService" class="com.ezen.student.service.SelectAllService">
		<constructor-arg ref="studentdao"></constructor-arg>
	</bean>
	
	<bean id="selectOneService" class="com.ezen.student.service.SelectOneService">
		<constructor-arg ref="studentdao"></constructor-arg>
	</bean>
	
	<bean id="insertService" class="com.ezen.student.service.InsertService">
		<constructor-arg ref="studentdao"></constructor-arg>
	</bean>
	
	<bean id="updateService" class="com.ezen.student.service.UpdateService">
		<constructor-arg ref="studentdao"></constructor-arg>
	</bean>
	
	<bean id="informationService" class="com.ezen.student.dto.EMSInformationService">
		<property name="info">
			<value>Education Management System program was developed in 2015.</value>
		</property>
		<property name="copyRight">
			<value>COPYRIGHT(C) 2015 EMS CO., LTD. ALL RIGHT RESERVED.
			CONTACT MASTER FOR MORE INFORMATION.</value>
		</property>
		<property name="ver">
			<value>The version is 1.0</value>
		</property>
		<property name="sYear">
			<value>2021</value>
		</property>
		<property name="sMonth">
			<value>10</value>
		</property>
		<property name="sDay">
			<value>19</value>
		</property>
		<property name="eYear" value="2021"></property> <!-- 단일태그 방식 -->
		<property name="eMonth" value="11"></property>
		<property name="eDay" value="19"></property>
		
		<property name="developers">
			<list>
				<value>Cheney.</value>
				<value>Eloy.</value>
				<value>Jasper.</value>
				<value>Dillon.</value>
				<value>Kian.</value>
			</list>
		</property>
		
		<property name="administrators">
			<map>
				<entry>
					<key><value>Chency</value></key>
					<value>cheney@springPjt.org</value>
				</entry>
				<entry>
					<key><value>Jasper</value></key>
					<value>Jasper@springPjt.org</value>
				</entry>
			</map>
		</property>
		
		<property name="dbInfos">
			<map>
				<entry>
					<key><value>dev</value></key>
					<ref bean="dbconinfo1"/>
				</entry>
				<entry>
					<key><value>real</value></key>
					<ref bean="dbconinfo2"/>
				</entry>
			</map>
		</property>
	</bean>
</beans>